
<h3>Clear Out Member Information</h3>

<%= form_tag clear_church_data_church_path(@church), :method => :post do %>
  <p>Once you have created a printed PDF of the directory and downloaded the Google Earth file, you should clear out the data...</p>
  <%= submit_tag "Clear out member information", :confirm => 'Are you sure?', :disable_with => 'Processing... will take some time', :style => "margin-top: 20px;" %>
<% end -%>


