$('#startbutton').hide();

<% if @exception.present? -%>
  alert("error");
  $("#importresults_msg").html("<%= escape_javascript("<div class='errornotice'>#{@message}</div>") %>");
<% else -%>
  $("#importresults_msg").html("<%= escape_javascript(@message) %>");
  $("#importresults_list").append("<%= escape_javascript(render(:partial => 'handle_upload_update_import_results', :format => ['html'])) %>");
  <% if !@the_upload.complete? -%>
    $.ajax({
      url: "<%= handle_upload_update_church_path(@church, :upload_id => @the_upload.id) %>",
      dataType: 'script'
    });
  <% end -%>
  $('#importresults_list')[0].scrollTop($('#importresults_list')[0].scrollHeight);
<% end -%>
