

body {
  font-size: 15px;
  font-family: 'Gill Sans / Gill Sans MT', sans-serif;
  line-height: 1.6em;
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
}

@media print {
  .page-break  { display: block; page-break-after: always; }
  a {
      text-decoration: none;
  }
}



.success {
    color: #33ff33;
}
.error {
    color: #ff3333;
}


.member {
    position: relative;
    width: 350px;
    min-height: 214px;
    height: 214px;
    .maininfo {
        margin-left: 120px;
        padding: 0px 10px 5px 5px;
        width: 200px;
        .name {
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        .contact {
            a {
                text-decoration: none;
            }
        }
        .dates {
            margin-top: 5px;
            font-size: 0.9em;
        }
    }
    .photo {
        position: absolute;
        top: 0;
        left: 0px;
        img {
            vertical-align:text-top;
            width: 100px;
            height: auto;
        }
        margin: 0px;
        width: 110px;
    }
    clear: both;
}

.members-page {
    h2 {
        font-family: Century Gothic, sans-serif;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 40px;
    }
    position: relative;
    min-height: 1400px;
    div.pagenum {
        position: absolute;
        top: 1350px;
    }
    
}
.memberlist-matrix {
    table {
        border-collapse:collapse;
    }
    td {
        position: relative;
        vertical-align: top;
    }
}

.household {
    .name {
        font-weight: bold;
        font-size: 16px;
    }
    .kids {
        font-size: 14px;
        margin-top: 5px;
        line-height: 16px;
        margin-left: 20px;
    }
    margin-bottom: 20px;
}

.pagenum {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.titlepage {
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
    color: #333333;
    font-family: Century Gothic, sans-serif;
    h2 {
        font-size: 68px;
        text-align: center;
    }
    h3 {
        font-size: 42px;
        text-align: center;
    }
    .address {
        width: 600px;
        font-size: 24px;
        padding-top: 100px;
        margin: 10px auto;
        line-height: 30px;
    }
    .scripture {
        text-align: left;
        width: 800px;
        font-style: italic;
        font-size: 26px;
        padding-top: 200px;
        margin: 10px auto;
        line-height: 30px;
        
    }
}

table#households-listing tr td {
    padding-right: 40px;
}

.loggedinbox {
    width: 100%;
    text-align: right;
    clear: both;
    margin: 0px 0px 20px 0px;
}