

body {
  font-size: 14px;
  font-family: 'Gill Sans / Gill Sans MT', sans-serif;
  line-height: 1.3em;
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
}

@media print {
  .page-break  { display: block; page-break-after: always; }
  a {
      text-decoration: none;
  }
}



.success {
    color: #33ff33;
}
.error {
    color: #ff3333;
}


.member {
    position: relative;
    width: 350px;
    min-height: 214px;
    height: 214px;
    .maininfo {
        margin-left: 120px;
        padding: 0px 10px 5px 5px;
        width: 200px;
        .name {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }
        .contact {

        }
        .dates {
            margin-top: 5px;
            font-size: 0.9em;
        }
    }
    .photo {
        position: absolute;
        top: 0;
        left: 0px;
        img {
            vertical-align:text-top;
            width: 100px;
            height: auto;
        }
        margin: 0px;
        width: 110px;
    }
    clear: both;
}

.memberlist-matrix {
    table {
        border-collapse:collapse;
    }
    td {
        position: relative;
        vertical-align: top;
    }
}

.household {
    .name {
        font-weight: bold;
        font-size: 1.1em;
    }
    .kids {
        margin-top: 5px;
        margin-left: 20px;
    }
    margin-bottom: 20px;
}

.pagenum {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.titlepage {
    padding-top: 500px;
    padding-bottom: 300px;
    text-align: center;
    color: #333333;
    font-family: Century Gothic, sans-serif;
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
}
