<% if user_signed_in? %>
<div class="loggedinbox">
 You're logged in as <%= link_to current_user.email, edit_user_registration_path %>.  <small>(<%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'logout' %>)</small>
</div>
<% end %>